body {
  background: #1d2029;
}

.box-head {
  background: #20222f;
}

.mode-dark-light {
  color: white;
}

.header {
  color: white;
}

.card-foll {
  background: #252b43;
  transition: 0.3s;
}

.card-foll:hover {
  background: #333a56;
}

.total-followers {
  color: white;
}

.recently__days {
  color: #41a597;
}

.recently__days--red {
  color: #bb5066;
}

.mode__selector {
  background: #353957;
}

.content-overviews {
  color: white;
}

.card-over {
  background: #252b43;
  transition: 0.3s;
}

.card-over:hover {
  background: #333a56;
}

.percent__value {
  color: #42a494;
}

.type-view__text {
  color: #838bb2;
}

.percent__value--red {
  color: #bb5066;
}

.mode {
  background: linear-gradient(to left, #49cc92, #4b94cc);
}
